@model IEnumerable<Books.Models.Book>


@if (Model.Count() == 0)
{
    <h2>Sorry! The item with that name doesn't exist!</h2>
}
else
{
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="panel panel-default my_panel">
                            <div class="panel-body" id="panel-image">
                                <a class="imagee" href="@Url.Action("Details","Book", new {id= item.ID})">
                                    <img src="@Url.Content(item.ImagePath)" alt="Image" class="img-responsive center-block" id="imagee" />
                                </a>
                            </div>
                            <div class="panel-footer" id="panel-text">
                                <a href="@Url.Action("Details","Book", new {id= item.ID})">
                                    <h3>@Url.Content(item.BookName)</h3>
                                </a>
                                @Html.DisplayNameFor(model => model.AuthorName): @Html.DisplayFor(modelItem => item.AuthorName) <br />
                                @Html.DisplayNameFor(model => model.BookCategory): @Html.DisplayFor(modelItem => item.BookCategory) <br />
                                @Html.DisplayNameFor(model => model.Price) : @Html.DisplayFor(modelItem => item.Price)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
}


