@model IEnumerable<Books.Models.Book>

@{
    ViewBag.Title = "AddToCart";
}


@if (Model.Count() == 0)
{
    <h2>Your Cart is empty!</h2>
}
else
{using (Html.BeginForm("Order", "ShoppingCart", FormMethod.Get))
    {
        <h2>My Cart</h2>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BookName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AuthorName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Details","Book", new {id= item.ID})">
                            <h5>@Url.Content(item.BookName)</h5>
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AuthorName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.ActionLink("Remove", "RemoveFromCart", new { id = item.ID })
                    </td>
                </tr>
            }

        </table>
        <div class="form-group">
            <div>
                <input name="Order" type="submit" value="Order" class="btn btn-success"/>
            </div>
        </div>
    }
}
<p>
    @Html.ActionLink("Add some books", "Index", "Book")
</p>


