@model IEnumerable<Books.Models.Book>

@{
    ViewBag.Title = "AddToCart";
}


@if (Model.Count() == 0)
{
    <h2>Your Cart is empty!</h2>
    <p>
        @Html.ActionLink("No! I want to spend my money!", "Index")
    </p>
}
else
{
    <h2>My Cart</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImagePath)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
}

