@model Books.Models.Book

@{
    ViewBag.Title = "Details";
    var ID = ViewBag.ID;
}

<h2>Details</h2>

<div class="container container-margin">
    <div class="row" id="detail-row">
        <div class="col-md-6 text-margin">
            <h3>@Html.DisplayFor(model => model.BookName)</h3>
            @Html.DisplayNameFor(model => model.AuthorName):
            @Html.DisplayFor(model => model.AuthorName)
            <br />
            @Html.DisplayNameFor(model => model.Price):
            @Html.DisplayFor(model => model.Price)
            <br />
            @Html.DisplayFor(model => model.BookCategory):
            @Html.DisplayFor(model => model.BookCategory)
            <br />
            @Html.DisplayNameFor(model => model.BookCondition):
            @Html.DisplayFor(model => model.BookCondition)
            <div>
                @using (Html.BeginForm("AddToCart", "ShoppingCart", FormMethod.Post))
                {
                    <div class="btn-position">
                        @if (Model.Availability == "Sold")
                        {
                            <h4>Sorry! This item is sold!</h4>
                        }
                        else
                        {
                            <button name="idAdd" type="submit" value="@Model.ID" class="btn btn-primary">Add to Cart</button>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="col-md-6" id="detail-div-image">
            <img src="@Url.Content(Model.ImagePath)" class="img-responsive" id="detail-image">
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Back to List", "Index", "Book")
</p>

